<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panier</title>
  <link rel="stylesheet" href="/public/assets/css/style.css">
</head>
<body>
  <header>
    <a href="/index.html" class="logo">E-commerce</a>
    <nav>
      <ul class="mainMenu">
        <li><a href="/index.html">Accueil</a></li>
        <li><a href="/views/catalog.html">Catalogue</a></li>
        <li><a href="/views/product.html">Produit</a></li>
        <li>
        </li>
        <li><a href="/views/login.html">Connexion</a></li>
        <li><a href="/views/register.html">Inscription</a></li>
        <li><a href="/views/cart.html">Panier</a></li>
      </ul>
    </nav>
  </header>
  

  <main>
    <h2>Votre panier</h2>
    <p>Votre panier est vide.</p>
  </main>
</body>
</html>
