<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catalogue</title>
  <link rel="stylesheet" href="/public/assets/css/style.css">
</head>
<body>
  <header>
    <a href="/index.html" class="logo">E-commerce</a>
    <nav>
      <ul class="mainMenu">
        <li><a href="/index.html">Accueil</a></li>
        <li><a href="/views/catalog.html">Catalogue</a></li>
        <li>
        </li>
        <li><a href="/views/login.html">Connexion</a></li>
        <li><a href="/views/register.html">Inscription</a></li>
        <li><a href="/views/cart.html">Panier</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h2>Catalogue</h2>
    <section class="product-grid">
      <div class="product">
        <a href="/views/product.html"></a>
          <img src="/public/assets/images/andrey-zvyagintsev-2HCVNKMZtVk-unsplash.jpg" alt="Produit 1">
        </a>
        <p>Produit 1 - 29,99€</p>
      </div>
      <div class="product"></div>
        <a href="/views/product.html"></a>
          <img src="/public/assets/images/andrey-zvyagintsev-2HCVNKMZtVk-unsplash.jpg" alt="Produit 2">
        </a>
        <p>Produit 2 - 39,99€</p>
      </div>
      <div class="product">
        <a href="/views/product.html"></a>
          <img src="/public/assets/images/andrey-zvyagintsev-2HCVNKMZtVk-unsplash.jpg" alt="Produit 3">
        </a>
        <p>Produit 3 - 49,99€</p>
      </div>
      <div class="product">
        <a href="/views/product.html"></a>
          <img src="/public/assets/images/andrey-zvyagintsev-2HCVNKMZtVk-unsplash.jpg" alt="Produit 4">
        </a>
        <p>Produit 4 - 59,99€</p>
      </div>
      <div class="product">
        <a href="/views/product.html"></a>
          <img src="/public/assets/images/andrey-zvyagintsev-2HCVNKMZtVk-unsplash.jpg" alt="Produit 5">
        </a>
        <p>Produit 5 - 69,99€</p>
      </div>
      <div class="product">
        <a href="/views/product.html">
          <img src="/public/assets/images/andrey-zvyagintsev-2HCVNKMZtVk-unsplash.jpg" alt="Produit 6">
        </a>
        <p>Produit 6 - 79,99€</p>
      </div>
    </section></a>
  </main>
</body>
</html>
