<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inscription</title>
  <link rel="stylesheet" href="/public/assets/css/style.css">
</head>
<body>
  <header>
    <a href="/index.html" class="logo">E-commerce</a>
    <nav>
      <ul class="mainMenu">
        <li><a href="/index.html">Accueil</a></li>
        <li><a href="/views/catalog.html">Catalogue</a></li>
        <li><a href="/views/product.html">Produit</a></li>
        <li>
        </li>
        <li><a href="/views/login.html">Connexion</a></li>
        <li><a href="/views/register.html">Inscription</a></li>
        <li><a href="/views/cart.html">Panier</a></li>
      </ul>
    </nav>
  </header>
  

  <main class="form_regs">
    <h2>Inscription</h2>
    <form>
      <label for="name">Nom :</label>
      <input type="text" id="name" name="name" required>
      <label for="email">Email :</label>
      <input type="email" id="email" name="email" required>
      <label for="password">Mot de passe :</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">S'inscrire</button>
    </form>
  </main>
</body>
</html>
